**/venv
**/.venv
**/.venv2
**/.venv3
**/.venv4
**/*.deb
**/*.zip
**/*.run
**/*.tar.gz
**/*.ckpt*
**/checkpoint
**/logs
**/.ipynb_checkpoints
**/.metals
**/__pycache__
**/data
**/metadata
**/image
**.py.bak
**/*.zip
/virtual